<div class="row">
  <div class="col-xs-12">
    <input
      placeholder="Search..."
      type="text"
      id="search"
      class="form-control"
      name="search"
      [(ngModel)]="term">
  </div>
  <hr>
  <div class="col-xs-12">
    <app-user-item
      class="panel-group"
      *ngFor="let userEl of users
          | search: term
          | paginate: { itemsPerPage: 6, currentPage: p};"
      [user]="userEl"
    ></app-user-item>
    <br>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
