<div class="row">
  <div class="col-xs-8">
    <input
      placeholder="Search..."
      type="text"
      id="search"
      class="form-control"
      name="search"
      [(ngModel)]="term">
  </div>
  <div class="col-xs-4">
    <button
      type="button"
      class="btn btn-success"
    >New</button>
  </div>
  <hr>
  <div class="col-xs-12">
    <app-album-item
      class="panel-group"
      *ngFor="let albumEl of albums
       | search: term
       | paginate: { itemsPerPage: 9, currentPage: p}; let i = index "
      [album]="albumEl"
      [index]="i"
    ></app-album-item>
    <br>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
