<div class="row">
  <div class="col-xs-12">
    <input
      placeholder="Search..."
      type="text"
      id="search"
      class="form-control"
      name="search"
      [(ngModel)]="term">
  </div>
  <hr>
  <div class="col-xs-12">
    <app-album-item
      class="panel-group"
      *ngFor="let albumEl of albums
       | search: term
       | paginate: { itemsPerPage: 9, currentPage: p, id: 'p'};"
      [album]="albumEl"
    ></app-album-item>
    <br>
    <pagination-controls (pageChange)="p = $event" id="p"></pagination-controls>
  </div>
</div>
