<div class="row">
  <div class="col-xs-12">
    <input
      placeholder="Search..."
      type="text"
      id="search"
      class="form-control"
      name="search"
      [(ngModel)]="term">
  </div>
</div>
  <hr>
<div class="row">
  <div class="col-xs-12 bg-primary"><h3>{{album.title}}</h3></div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <app-photo-item
      *ngFor="let photoEl of photos
      | search: term
      | paginate: { itemsPerPage: 10, currentPage: i, id:'i' }"
      [photo]="photoEl"
    ></app-photo-item>
    <br>
    <pagination-controls (pageChange)="i = $event" id="i"></pagination-controls>
  </div>
</div>
